%cover-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%contain-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
